<footer>
    <div class="inner">
        <img src="../assets/images/logo-g.svg" alt="하단로고" class="foot-logo" />
        <div class="desc">
            <div class="flex bb">
                <a href="" class="y">개인정보처리방침</a>
                <a href="" class="terms">이용약관</a>
            </div>
            <p class="fir">
                <span>E-mail</span>
                <span>ktennisofficiating@gmail.com</span>
            </p>
            <p>Copyright(c)2009 대한테니스협회 ALL RIGHTS RESERVED</p>
        </div>
    </div>
</footer>
</body>
<script src="/js/component.js"></script>
<% if(path){ %>
    <script src="/js/<%=path%>.js"></script>
    <% } %>
</html>
