<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/layout.css" />
        <link rel="stylesheet" href="/css/guide.css" />
        <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
        <% if(path){ %>
            <link rel="stylesheet" href="/css/pages/<%=path%>.css" />
        <% } %>
    </head>
    <body>
        <header class="f-sb pc" id="<%=path%>">
            <a href="/"><img src="../assets/images/logo.svg" alt="로고" /></a>
            <div class="right f-ct">
                <span class="right-logout"><a href="/login.html">로그아웃</a></span>
            </div>
        </header>
     