   <nav class="sideBar">
        <ul class="depth1-wrap">
            <li class="depth1-item active">
                <h3 class="menuNm">대회관리</h3>
                <ul class="depth2-wrap">
                    <li class="depth2-item"><a href="">대회등록관리</a></li>
                    <li class="depth2-item"><a href="">대회배정관리</a></li>
                    <li class="depth2-item"><a href="">워크레코드관리</a></li>
                    <li class="depth2-item"><a href="">심판활동현황</a></li>
                </ul>
            </li>
            <li class="depth1-item">
                <h3 class="menuNm">게시판관리</h3>
                <ul class="depth2-wrap">
                    <li class="depth2-item"><a href="">공지사항</a></li>
                    <li class="depth2-item"><a href="">Q&A</a></li>
                </ul>
            </li>
            <li class="depth1-item">
                <h3 class="menuNm">교육관리</h3>
                <ul class="depth2-wrap">
                    <li class="depth2-item"><a href="">규정집</a></li>
                </ul>
            </li>
            <li class="depth1-item">
                <a class="menuNm only" href="">회원관리</a>
            </li>
            <li class="depth1-item">
                <a class="menuNm only" href="">코드관리</a>
            </li>
        </ul>
    </nav>