@use '../util/mixin' as *;

.cam{
    .count{
            @include font-style(16);
        em{
            @include font-style(14);
            color: #888;
        }
    }
    .inputBox{
        width: 320px;

    }
    .role{
        @include font-style(16,300);

        &.active{
        @include font-style(16);

            color: #222;
        }
        color: #ccc;
    }

    
}

#editComModal{
    .bu{
        .selectBox{
            width: 228px;
            padding-right: 28px;
            position: relative;
            margin-right: 16px;
        }
        flex-wrap: wrap;
        row-gap: 7px;
    }
    .wrap{
        flex-wrap: wrap;
        row-gap: 8px;
    }
    .supplyTarget{
        .supplyTargetSl{
            width: 200px;
        }
        
        .line{
            // width: max-content;
            position: relative;
            padding-right: 28px;
            width: 385px;
        }
        .inputBox{
            width: 80px;
        }
        .txt{
            @include font-style(14,500);
        }
        
    }
    .removeOp{
        display: inline-block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: url('../../assets/images/ic-close.png')no-repeat center #f0f2f5;
        background-size: 10px;
    }
    .addBtn{
        border-radius: 2px;
        border: solid 1px #4766ff;
        background-color: #fff;
        width: 40px;
        height: 40px;
        position: relative;
        &::before{
            content:'';
            display: inline-block;
            position: absolute;
            width: 14px;
            height: 3px;
            background: #4766ff;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 2px;
        }
        &::after{
            content:'';
            display: inline-block;
            position: absolute;
            width: 3px;
            height: 14px;
            background: #4766ff;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            border-radius: 2px;

        }
    }
}