@use '../util/mixin' as *;

.cam{
    .count{
            @include font-style(16);
        em{
            @include font-style(14);
            color: #888;
        }
    }
    .inputBox{
        width: 320px;
    }

    .table {
        &-top {
            .right-search {
                justify-content: flex-end;
            }
            .bottom {
                width: 100%;
                margin: 24px 0 16px;
            }
        }

        td {
            .btn {
                padding: 0 20px;
                height: 32px;
            }
        }
    }
}

%descriptionStyle{
    padding-bottom: 24px;
    dl {
        @include flex(start, center);
        margin-bottom: 9px;

        dt {
            @include font-style(14,400);
            color: #888;
            padding-right: 10px;
            margin-right: 10px;
            border-right: 1px solid #e6e8eb;
            i{
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 5px;
                vertical-align: bottom;
                &.clock{
                    background: url('../../assets/images/ic-clock.png')no-repeat center / 16px;
                }
                &.pin{
                    background: url('../../assets/images/ic-pin.png')no-repeat center / 16px;
                }
                &.check{
                    background: url('../../assets/images/ic-check-dg.png')no-repeat center / 14px;
                }
            }
        }

        dd {
            @include font-style(14);
            color: #444;
        }
    }
}

%detailTitleStyle{
    @include flex(start,center);
    margin-bottom: 16px;

    h3{
        @include font-style(28, 600);
    }
}

#infoModal{
    .detail-info{
        @extend %detailTitleStyle;
    }
    .description{
        @extend %descriptionStyle;
    }
    .html-con{
        border-top: 1px solid #e1e5eb;

    }
}

#excelModal {
    .fileBox {
        display: flex;
        flex-wrap: wrap;

        div {
            position: relative;
        }

        .inputBox {
            width: 362px;
            background-color: #fff;
        }

        .btn {
            padding: 0 20px;
        }

        .remove {
            @include flex();
            @include font-style(14);
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translateY(-50%);

            &::after {
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(../../assets/images/ic-close.png) no-repeat center / 10px #f0f2f5;
                border-radius: 50%;
                margin-left: 8px;
            }
        }
    }
}

#assignModal {
    .mContents {
        &-body {
            max-height: 509px;
        }
    }
    h3 {
        @include font-style(28, 600);
        margin-bottom: 18px;
    }

    .tabs {
        &-assign {
            gap: 8px;
        }
    }

    .table {
        th {
            text-align: left;
        }
        td {
            border: 1px solid #e1e5eb;
            text-align: left;
            padding-left: 24px;
            @include font-style(16);

            .btn {
                height: 32px;
                padding: 8px 20px;
            }

            .selectBox {
                width: 160px;

                .customSelect {
                    &-view {
                        height: 32px;
                        line-height: 32px;
                    }

                    &-options {
                        top: 37px;
                    }
                }
            }
        }
    }
}