@use '../util/mixin' as *;

.board {
    .table {
        &.horizon {
            tr {
                &:nth-child(n + 4) {
                    th {
                        vertical-align: top;
                        padding-top: 27px;
                    }
                }
            }
        }
    }
    .textBox {
        &-wrap {
            height: 330px;
        }
    }

    .inputBox {
        max-width: 1200px;
    }

    .fileBox {
        display: flex;
        flex-wrap: wrap;

        .inputBox {
            width: 400px;
            background-color: #fff;
        }

        .btn {
            padding: 0 20px;
        }

        p {
            width: 100%;
            margin-top: 9px;
            @include font-style(14);
            color: #888;
        }

        .btn {
            &-plus {
                font-size: 28px;
                width: 40px;
                height: 40px;
                padding: 0;
                margin-left: 16px;

                span {
                    position: relative;
                    top: -2px;
                }
            }
        }

        ul {
            @include flex();
            flex-direction: column;
            gap: 10px;

            li {
                @include flex();
                position: relative;

                .remove {
                    @include flex();
                    @include font-style(14);
                    position: absolute;
                    top: 50%;
                    right: 12px;
                    transform: translateY(-50%);

                    &::after {
                        content: "";
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background: url(../../assets/images/ic-close.png) no-repeat center / 10px #f0f2f5;
                        border-radius: 50%;
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}