@use '../util/mixin' as *;

.bn{
    .count{
            @include font-style(16);
        em{
            @include font-style(14);
            color: #888;
        }
    }
    .inputBox{
        width: 320px;

    }
    .table{
        text-align: left;
        td{
            &:first-child{
                width: 7.5%;
            }
            &:nth-child(2){
                width: auto;
            }
            &:nth-child(3){
                width: 7.5%;
            }
            &:nth-child(4){
                width: 8.8%;
            }
            &:nth-child(5){
                width: 11.3%;
            }
            &:nth-child(6){
                width: 10%;
            }

            &:not(:nth-child(2)) {
                font-weight: 300;
            }

            i {
                display: inline-block;
                width: 14px;
                height: 14px;

                &.disc {
                    background: url('../../assets/images/ic-disc.png') no-repeat center;
                }
            }
        }
    }
}