@use '../util/mixin' as *;

.cam {
    .count{
        @include font-style(16);
        em{
            @include font-style(14);
            color: #888;
        }
    }
    .right-search {
        .inputBox {
            width: 320px;
        }
    }
    .btn {
        flex-shrink: 0;
    }
    .explain {
        background: #f0f2f5;
        border-radius: 4px;
        border: 1px solid #e1e5eb;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.04);
        padding: 20px 30px;
        @include font-style(13, 300);
        margin-bottom: 16px;
    }
}


.table {
    &-line {
        td {
            .btn {
                &-blue-border {
                    height: 32px;
                    padding: 0 20px;
                }
            }
        }
    }
}

#withdrawalModal {
    .mContents {
        &-body {
            max-height: 509px;

            .inputBox {
                max-width: 320px;
            }
        }
    }
    
}

#competitionModal {
    .mContents {
        &-body {
            max-height: 509px;

            .w {
                &-320 {
                    width: 320px;
                }
            }
        }
    }
}

#refereeModal {
    .mContents {
        &-body {
            max-height: 509px;

            .w {
                &-320 {
                    width: 320px;
                }
            }
        }
    }
}