<%- include('../includes/header',{ path :'education-write'}) %>
<!-- 규정집 등록 -->
<div class="mainContainer flex">
<%- include('../includes/navbar') %>
    <section class="mainSection board">
        <h2 class="topTit">규정집</h2>
        <table class="table horizon">
            <colgroup>
                <col style="width: 140px;">
                <col style="width: auto;">
            </colgroup>
            <tbody>
                <tr>
                    <th>작성자</th>
                    <td>홍길동</td>
                </tr>
                <tr>
                    <th>중요</th>
                    <td>
                        <div class="checkBox checkBox-sq">
                            <input type="checkbox" name="check1" id="check1" />
                            <label for="check1">공지로 등록</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td>
                        <input name="input" class="inputBox inputBox-default" type="text" placeholder="제목을 입력하세요" />
                    </td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td>
                        <div class="textBox">
                            <div class="textBox-wrap">
                                <textarea name="textarea" placeholder="내용을 입력하세요."></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>파일첨부</th>
                    <td>
                        <div class="fileBox">
                            <button class="btn btn-blue-border mr-8">파일첨부</button>
                            <ul>
                                <li>
                                    <input name="input" class="inputBox inputBox-default" type="text" readonly />
                                    <button class="remove">삭제</button>
                                    <button class="btn btn-blue-border"><span>+</span></button>
                                </li>
                            </ul>
                            <p>50mb 미만의 파일만 업로드 가능합니다</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="f-ct mt-24">
            <button class="btn btn-gray mr-8">취소</button>
            <button class="btn btn-blue">저장</button>
        </div>
    </section>
</div>
<%- include('../includes/footer',{ path :'education-write'}) %>
